					<div class="foot-menu">
						<ul>
							<li><%= link_to "A Casa", :controller => 'home', :action => 'casa' %></li>
							<li><%= link_to 'Agenda', :controller => 'home', :action => 'agenda' %></li>
							<li><%= link_to 'Cardápio', :controller => 'home', :action => 'cardapio' %></li>
							<li><%= link_to 'Ingressos', :controller => 'home', :action => 'ingressos' %></li>
							<li><%= link_to 'Midia', :controller => 'home', :action => 'midia' %></li>
							<li><%= link_to 'Contato', :controller => 'home', :action => 'contato' %></li>
						</ul><!-- end links -->
					</div><!-- end foot menu -->